{
  "tabWidth": 4,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ["*.yaml","*.yml","*.json",".prettierrc"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
