os: linux
language: node_js
cache:
  yarn: true
  directories:
    - node_modules

node_js:
  - v12
  - v10

install:
  - yarn install
  - yarn build
  - yarn lerna bootstrap

script:
  - yarn lint
  - yarn test
  - yarn coveralls <./coverage/lcov.info

jobs:
  # include:
  allow_failures:
    - stage: deploy
      name: publish to npm
      if: head_branch =~ ^release/
      node_js: v12
      script:
        - cp npmrc-ci .npmrc
        - yarn lerna publish from-package --yes
